
<section class="features-sec">
    <div class="container">
        <ul>
            <li>
                <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <h3>SAFE SHOPPING</h3>
                <h5>Safe Shopping Guarantee</h5>
                <h6>Our customer's satisfaction is our gold...</h6>
            </li>
            <li>
                <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
                <h3>30- DAY RETURN</h3>
                <h5>Moneyback guarantee</h5>
                <h6>If only Goods are returned in good condition...</h6>
            </li>
            <li>
                <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
                <h3>24/7 SUPPORT</h3>
                <h5>online Consultations</h5>
                <h6>This is done through our platforms ...</h6>
            </li>
        </ul>
    </div>
</section>
<section class="offers-sec" style="background:url(images/offers.jpg)no-repeat;">
    <div class="cover"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail">
                    <h3>Top 50% OFF on Selected</h3>
                    <h6>
                        We are now offering some good discount
                        on selected books go and shop them
                    </h6>
                    <a href='@Url.Action("products", "Products")' class="btn blue-btn">view all books</a>
                    <span class="icon-point percentage">
                        <img src="~/images/precentagae.png" alt="">
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail">
                    <h3>Shop $ 500 Above and Get Extra!</h3>
                    <h6>
                        We are now offering some good discount
                        on selected books go and shop them
                    </h6>
                    <a href='@Url.Action("products", "Products")' class="btn blue-btn">view all books</a>
                    <span class="icon-point amount"><img src="~/images/amount.png" alt=""></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial-sec">
    <div class="container">
        <div id="testimonal" class="owl-carousel owl-theme">
            <div class="item">
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and Scrambled it to make a type and typesetting industry. been the book</h3>
                <div class="box-user">
                    <h4 class="author">FRAJOHN</h4>
                    <span class="country">NIGERIA</span>
                </div>
            </div>
            <div class="item">
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and Scrambled it to make a type and typesetting industry. been the book</h3>
                <div class="box-user">
                    <h4 class="author">FRAJOHN</h4>
                    <span class="country">NIGERIA</span>
                </div>
            </div>
            <div class="item">
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and Scrambled it to make a type and typesetting industry. been the book</h3>
                <div class="box-user">
                    <h4 class="author">FRAJOHN</h4>
                    <span class="country">NIGERIA</span>
                </div>
            </div>
            <div class="item">
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and Scrambled it to make a type and typesetting industry. been the book</h3>
                <div class="box-user">
                    <h4 class="author">FRAJOHN</h4>
                    <span class="country">NIGERIA</span>
                </div>
            </div>
        </div>
    </div>
    <div class="left-quote">
        <img src="~/images/left-quote.png" alt="quote">
    </div>
    <div class="right-quote">
        <img src="~/images/right-quote.png" alt="quote">
    </div>
</section>
